body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

a h3:hover {
    box-shadow: 0 0 10px 2px cyan;
    transition: 0.2s;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 600px));
    grid-gap: 20px;
}

.playlist-block {
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    border-color: red;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px 2px red;
}

.playlist-block h3 {
    border-radius: 20px;
}

.playlist-block iframe {
    border-radius: 20px;
    width: 100%;
}

.playlist-block iframe:hover {
    box-shadow: 0 0 10px 2px cyan;
    transition: 0.2s;
}