.folder-tree .item {
  padding: 0px 10px;
  border-radius: 5px;
}

.folder-tree .item:hover {
  box-shadow: 0 0 10px 2px darkslateblue;
}

.folder-tree .item-disabled {
  color: grey;
}

.folder-tree .tooltip .tooltiptext {
  text-align: left;
}
