#main-grid {
  /* Location on page (center) */
  margin: auto;
  width: 100%;

  /* Grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100vw), 1fr));
  grid-gap: 1em;
  align-items: flex-start;
}

.grid-card {
  /* border */
  --border-color: darkslateblue;
  border-style: solid;
  border-width: 2px;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  box-shadow: 0 0 10px 2px var(--border-color);
  max-height: calc(var(--app-height) - 4em);
  display: flex;
  flex-flow: column;
}

.card-title {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: var(--border-radius);
  background-color: darkslateblue;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  cursor: pointer;
}

.card-title h2 {
  /* space to right for collapse caret */
  margin: 0px 20px;
}

.card-title:hover {
  --hover-color-text: darkcyan;
  --hover-color-border: cyan;
  box-shadow: 0 0 10px 2px var(--hover-color-border);
  text-shadow:
    0 0 5px var(--hover-color-text),
    0 0 10px var(--hover-color-text),
    0 0 15px var(--hover-color-text),
    0 0 20px var(--hover-color-text),
    0 0 30px var(--hover-color-text),
    0 0 50px var(--hover-color-text);
}

.card-title .collapse-caret {
  position: absolute;
  right: 10px;
  transform: rotate(-0deg);
  transition: transform 0.2s linear;
  user-select: none;
}

.collapse-caret.open {
  transform: rotate(-180deg);
}

.collapse-content {
  position: relative;
  overflow-y: auto;

  /* Gradient for overflow */
  /* --gradient-height: 20px;
  --mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black var(--gradient-height),
    black calc(100% - var(--gradient-height)),
    transparent 100%
  );
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image); */
}

.collapse-content::-webkit-scrollbar {
  display: none;
}

.fixed-top {
  position: relative;
  top: 0;
}

.scroll-arrow {
  /* Position */
  margin: auto;
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1;

  /* Style */
  width: 100px;
  height: 30px;
  background-color: darkslateblue;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.scroll-arrow-up {
  top: 5px;
  display: none;
}

.scroll-arrow-down {
  bottom: 5px;
  display: inherit;
}

@media (max-width: 800px) {
  #main-grid {
    grid-gap: 0px;
  }

  .grid-card {
    box-shadow: none;
    border-width: 0px;
  }

  body {
    margin: 0;
  }
}
