header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

#header-title-img {
  /* Position */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  max-width: 95%;
  padding: 5px;

  /* Glow */
  --header-title-img-glow-color: orangered;
  --header-title-img-glow: drop-shadow(0 0 10px var(--header-title-img-glow-color))
    drop-shadow(0 0 20px var(--header-title-img-glow-color)) drop-shadow(0 0 50px darkcyan);
  -webkit-filter: var(--header-title-img-glow);
  filter: var(--header-title-img-glow);
}

#header-subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
  font-family: 'Permanent Marker', sans-serif;
  color: purple;
  z-index: 1;
  --hover-color-text: cyan;
  text-shadow:
    0 0 5px var(--hover-color-text),
    0 0 10px var(--hover-color-text),
    0 0 15px var(--hover-color-text),
    0 0 20px var(--hover-color-text),
    0 0 30px var(--hover-color-text),
    0 0 50px var(--hover-color-text);
}

#header-logo {
}

#header-right {
  position: absolute;
  right: 20px;
  bottom: 0px;
  margin-bottom: 20px;
}

#bio {
  text-align: right;
  max-width: 300px;
  color: grey;
  margin-bottom: 0.5em;
  font-family: 'Outfit', sans-serif;
  font-size: 1em;
}

#bio p {
  margin-bottom: 0.2em;
}

#social-links {
  text-align: right;
}

@media (max-width: 960px) {
  header {
    display: block;
  }

  #header-subtitle {
    font-size: 1.5em;
  }

  #header-right {
    position: relative;
    text-align: center;
    right: 0px;
  }

  #bio {
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    text-align: center;
  }

  #social-links {
    text-align: center;
  }
}

#social-links .fa {
  --circle-size: 40px;
  font-size: 20px;
  height: var(--circle-size);
  width: var(--circle-size);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

#social-links .fa:hover {
  background-image: linear-gradient(rgb(0 0 0/0%) 0 0);
}
