@import 'scrollbar.css';
@import 'header.css';
@import 'grid-card.css';
@import 'track-item.css';
@import 'tree.css';
@import 'folder-tree.css';
@import 'tooltip.css';

/* General */

:root {
  --border-radius: 20px;
}

body {
  background-color: black;
  color: white;
  font-family: tahoma, sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0.25em;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  cursor: alias;
}

*:hover {
  transition: 0.2s;
}

a:link,
a:visited {
  color: inherit;
}

.hidden {
  /* NOTE: display: none causes iframes load weird, causing issues */
  /* NOTE: height: 0 causes height calculations to be wierd */
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left: -9999px; /* Position it far off the screen */
  top: -9999px; /* Position it far off the screen */
}

@media (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
  }
}
