@import 'scrollbar.css';
@import 'header.css';
@import 'grid-card.css';
@import 'sc-track.css';
@import 'sc-player.css';
@import 'tree.css';
@import 'folder-tree.css';
@import 'tooltip.css';

/* General */

:root {
  --app-height: 100%;
  --border-radius: 20px;
}

body {
  background-color: black;
  color: white;
  font-family: tahoma, sans-serif;
}

*:hover {
  transition: 0.2s;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  cursor: alias;
}

a:link,
a:visited {
  color: inherit;
}

.hidden {
  max-height: 0px;
}

.display-none {
  display: none;
}

.circle {
  border-radius: 50%;
}

.shadow-darkslateblue {
  --shadow-color: cyan;
  text-shadow:
    0 0 5px black,
    0 0 5px var(--shadow-color),
    0 0 10px var(--shadow-color),
    0 0 15px var(--shadow-color),
    0 0 30px var(--shadow-color);
}

@media (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
    margin: 0;
  }
}
