.sc-player {
  display: flex; /* Enables flexbox */
  align-items: center; /* Aligns items vertically */
  height: 100px;
  position: relative;
}

.sc-iframe-wrapper iframe {
  position: relative;
  top: -60px; /* Hide top of iframe */
  filter: invert(100%) hue-rotate(180deg);
}

.sc-iframe-wrapper {
  position: relative;
  width: 100%;
  height: 80px; /* Hide bottom of iframe */
  overflow: hidden; /* Hide the excess iframe */
  border-radius: var(--border-radius);
}

.sc-iframe-wrapper:hover {
  height: 90px;
}

.sc-iframe-wrapper.playing {
  height: 90px;
  box-shadow: 0 0 10px 2px cyan;
}

.play-button {
  position: absolute;
  top: 0.1em;
  left: 0px;
  z-index: 1;
  cursor: pointer;
}

.play-button-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: orangered;
  background: none;
  border: none;
  font-size: 3em;
}

.play-button-background {
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  color: white;
  background: none;
  border: none;
  font-size: 2.5em;
  z-index: -1;
}

.sc-stats {
  position: absolute;
  top: 1em;
  right: 5.1em;
  z-index: 1;
  font-size: 0.8em;
  color: darkslateblue;
  display: inline-flex;
  gap: 0.5em;
  pointer-events: none;
}

.sc-stat .fa {
  font-size: 0.7em;
}

.sc-stat {
  display: inline-flex;
  gap: 0.25em;
  align-items: center;
}

.sc-external-link {
  --sc-link-color: rgb(190, 50, 0);
  color: var(--sc-link-color) !important;
  position: absolute;
  top: 0.8em;
  right: 0.3em;
  font-size: 1em;
  font-weight: bold;
  z-index: 1;
  border-radius: 4px;
  outline: var(--sc-link-color) solid 1px;
  padding: 0.1em 0.25em;
  display: inline-flex;
  gap: 0.3em;
}
