.track-wrapper {
  margin: 10px;
  position: relative;
  font-family: 'Outfit', sans-serif;
}

.track-wrapper:hover iframe {
  box-shadow: 0 0 10px 2px cyan;
}

.track-wrapper:hover .track-title {
  --hover-color-text: darkslateblue;
  text-shadow:
    0 0 3px white,
    0 0 5px var(--hover-color-text),
    0 0 10px var(--hover-color-text),
    0 0 15px var(--hover-color-text),
    0 0 20px var(--hover-color-text),
    0 0 30px var(--hover-color-text),
    0 0 50px var(--hover-color-text);
}

.track-title {
  font-size: 1.2em;
}

.track-genre-description {
  font-size: 1.2em;
  font-weight: bold;
  color: turquoise;
}

.track-addl-description {
  font-size: 1em;
  font-family: 'Barlow', sans-serif;
  text-align: justify;
  color: grey;
}

.track-wrapper iframe {
  margin-top: 10px;
  width: 100%;
  border-radius: var(--border-radius);
}

.privacy-policy-cover {
  /* position */
  position: absolute;
  height: 1.25em;
  width: 100px;
  left: 0px;
  bottom: 4px;
  z-index: 1;

  /* style */
  background-color: orangered;
  border-bottom-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
