.track {
  position: relative;
  margin: 10px;
  font-family: 'Outfit', sans-serif;
}

.track:hover .sc-iframe-wrapper {
  box-shadow: 0 0 10px 2px cyan;
}

.track:hover .track-title {
  --hover-color-text: darkslateblue;
  text-shadow:
    0 0 3px white,
    0 0 5px var(--hover-color-text),
    0 0 10px var(--hover-color-text),
    0 0 15px var(--hover-color-text),
    0 0 20px var(--hover-color-text),
    0 0 30px var(--hover-color-text),
    0 0 50px var(--hover-color-text);
}

.track-title {
  font-size: 1.2em;
}

.track-genre-description {
  font-size: 1.2em;
  font-weight: bold;
  color: turquoise;
}

.track-addl-description {
  font-size: 1em;
  font-family: 'Barlow', sans-serif;
  text-align: justify;
  color: grey;
}

.sc-player {
  display: flex; /* Enables flexbox */
  align-items: center; /* Aligns items vertically */
  height: 80px;
  margin-top: 10px;
}

.sc-iframe-wrapper iframe {
  position: relative;
  top: -60px; /* Hide top of iframe */
  filter: invert(100%) hue-rotate(180deg);
}

.sc-iframe-wrapper {
  position: relative;
  width: 100%;
  height: 80px; /* Hide bottom of iframe */
  overflow: hidden; /* Hide the excess iframe */
  border-radius: var(--border-radius);
}

.sc-player .circle {
  /* Center the icon */
  --circle-size: 2em;
  height: var(--circle-size);
  width: var(--circle-size);
  margin: 0 2px;
  vertical-align: middle;
  background-color: orangered;
  align-self: center;

  /* Icon */
  font-size: 2em;
}

.album-art {
  vertical-align: middle;
  align-self: center;
  height: 80px;
  border-radius: var(--border-radius);
}

.sc-iframe-wrapper:hover {
  height: 90px;
}

.sc-iframe-wrapper.playing {
  height: 90px;
}
