.tree {
  line-height: 1.5em;
}

.tree ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.tree-row {
  padding: 0px 10px;
}

.tree li > ol {
  margin-left: 45px;
}

.tree .left-icon {
  margin-right: 0.5em;
}

.tree .right-side {
  float: right;
}

.tree .tooltiptext {
  top: 2em;
  left: 0px;
  margin-left: 10px;
}

.tree .tooltiptext::after {
  left: 0.3em;
}
