.track-wrapper {
    margin: 10px;
    position: relative;
}

.track-wrapper:hover iframe {
    box-shadow: 0 0 10px 2px cyan;
}

.track-wrapper:hover .track-title {
    --hover-color-text: darkslateblue;
    text-shadow: 0 0 3px white,
        0 0 5px var(--hover-color-text),
        0 0 10px var(--hover-color-text),
        0 0 15px var(--hover-color-text),
        0 0 20px var(--hover-color-text),
        0 0 30px var(--hover-color-text),
        0 0 50px var(--hover-color-text);
}

.track-title-wrapper {
    margin-bottom: 10px;
}

.track-title {
    font-size: 1em;
    font-weight: bold;
}

.track-genre-description {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    color: turquoise
}

.track-addl-description {
    font-size: 1em;
    text-align: justify;
    color: grey
}

.track-wrapper iframe {
    margin-top: 10px;
    width: 100%;
    border-radius: var(--border-radius);
}

.no-track-descriptions .track-genre-description,
.no-track-descriptions .track-addl-description {
    display: none;
    visibility: hidden;
}

.privacy-policy-cover {
    /* position */
    position: absolute;
    height: 1.25em;
    width: 100px;
    left: 0px;
    bottom: 2px;
    z-index: 1;

    /* style */
    background-color: orangered;
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}